 /* Home.css */

/* Carousel image height and fit */
.carousel-item img {
  height: 450px;
  object-fit: cover;
}

/* Product Card Image */
.card-img-top {
  height: 200px;
  object-fit: contain;
}
 @media (max-width: 768px) {
  .carousel-item img {
    height: 250px;
  }

  .card-img-top {
    height: 150px;
  }
}